@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg, 
        rgba(255, 255, 255, 1) 70%, 
        rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
    width: 40%;
    z-index: 1;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 150px; /* Adjust minimum size for smaller screens */
    max-width: 100%; /* Prevent exceeding the viewport width */
    max-height: 100%; /* Prevent exceeding the viewport height */
    top: max(-128px, -10vh); /* Dynamically adjust based on viewport */
    left: max(-10vw, 0); /* Ensure it doesn't go off-screen */
    border-radius: 764px;
    background: rgba(109, 109, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px; /* Adjust minimum size for smaller screens */
    max-width: 100%; /* Prevent exceeding the viewport width */
    max-height: 100%; /* Prevent exceeding the viewport height */
    top: max(246px, 50vh); /* Dynamically adjust based on viewport */
    right: max(-25vw, 0); /* Ensure it doesn't go off-screen */
    border-radius: 764px;
    background: rgba(184, 184, 184, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {

    .topBlur {
        width: 80vw;
        height: 40vw;
        top: -5vh; 
        left: 0;
    }

    .bottomBlur {
        width: 90vw; 
        height: 40vw;
        top: 60vh; 
        right: 0; 
    }

    .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .content {
        align-items: center;
    }

}


