@import '../../vars.css';


.customNavbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    background-color: var(--color-nav) !important;
    flex-direction: row;  
    

    
}



.navLink {
    font-size: 25px !important;
    font-family: var(--font-default) !important;
    color: var(--color-text) !important;
    text-decoration: none;
    margin-left: auto !important;
    transition: color 0.3s ease, transform 1s ease !important;
}


.navLink:hover {
    color: var(--color-secondary) !important;
    transform: scale(1.1); 
}

.navLinkCommissions,
.navLinkExperience,
.navLinkProjects {
    margin-right: 5%;
}



/* .navLinkGitHub {
    margin-left: 65%; 
}

.navLinkLinkedin {
    margin-right: 5%; 
}

.navLinkSpotify {
    margin-left: -5% !important; 
} */

.fontAwesomeIcon {
    size: 50px;
}

  
.bg-dark {
    z-index: 10;
    background-color: var(--color-nav) !important;
}

.title {
    font-size: 50px !important;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text) !important;
    pointer-events: auto;
    text-align: left; /* Align text to the left */
    margin-left: 2.3%; /* Reset any negative margin */
    margin-right: auto; /* Ensure it's left-aligned */
    white-space: nowrap; /* Prevent line breaks */
    transition: color 0.3s ease, transform 1s ease !important;
    display: flex;
    justify-content: flex-start; /* Align the title to the left horizontally */
    align-items: center;
    flex-grow: 0; /* Prevent title from growing */
}
.title:hover {
    /* Nothing as of now. */
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
    padding-left: 60%;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}

@media screen and (max-width: 852px) {

    .title {
        scale: 0.6;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .navbar-toggler {
        /* display: none !important; */
        margin-left: 2.3%;
        margin-right: auto;
    }

    /* .custom-toggler {
        display: none !important;
    }

    .navbar-toggler-icon {
        display: none !important;
    } */

    .customNavbar {
        position: fixed;
        display: none;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        z-index: 2;
        background-color: var(--color-nav) !important;
        flex-direction: row; 
        
    }
    
    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .menuItems {

        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: var(--color-secondary) ;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }

    .navLink.navLinkProjects {
        display: none;
    }
    
}