@import "../../vars.css";

.container {
    position: relative;
    background-color: var(--color-bg, rgba(0, 0, 0, 0.6));
    border-radius: 15px;
    padding-top: 0 !important;
    padding: 100px; 
    margin: 0; 
    z-index: 1; 
    /* user-select: none;  */
    
}

.header, .description {
    /* user-select: none; */
}

.experience {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    color: var(--color-text); /* Ensure this color is applied */
    font-family: var(--font-default);
    transition: color 0.3s ease, transform 1s ease !important;
}

.experience:hover {
    color: var(--color-secondary) !important;
    transform: scale(1); /* Slightly enlarge on hover */
}

.link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent (.experience) */
    transition: color 0.3s ease, transform 1s ease !important;
}

.link:hover {
    color: var(--color-secondary) !important; /* Apply hover color */
}

.description {
    font-size: 24px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.skills {
    font-family: var(--font-default);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    color: var(--color-text);
    z-index: 1;
}

@media screen and (max-width: 852px) {
    .container {
        padding: 50px; /* Adjust padding for smaller screens */
        padding-top: 30% !important;
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .experience {
        font-size: 36px; /* Smaller font size for experience header */
    }

    .description {
        font-size: 20px; /* Smaller font size for description */
        text-align: left;
    }
    
    .listItem {
        font-size: 18px; /* Adjust list item font size for smaller screens */
        margin-bottom: 10px; /* Add some spacing between list items */
    }

    .skills {
        flex-direction: column; /* Stack skills vertically on smaller screens */
        align-items: center; /* Center align skills */
    }
}