@import "../../vars.css";


.Gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust to inherit parent's height */
    padding: 60px; /* Adjust as needed */
    box-sizing: border-box;
    flex-wrap: wrap;
}

.container {
    position: relative;
    height: 100vh;
    min-height: 100vh;
    background-color: var(--color-bg, rgba(0, 0, 0, 0.6));
    border-radius: 15px;
    padding-top: 8% !important;
    padding: 100px; 
    margin: 0; 
    z-index: 1; 
    user-select: none;
    
}

.header, .description {
    user-select: none;
}

.experience {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    color: var(--color-text); /* Ensure this color is applied */
    font-family: var(--font-default);
    transition: color 0.3s ease, transform 1s ease !important;
}

.experience:hover {
    color: var(--color-secondary) !important;
    transform: scale(1); /* Slightly enlarge on hover */
}

.link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent (.experience) */
    transition: color 0.3s ease, transform 1s ease !important;
}

.link:hover {
    color: var(--color-secondary) !important; /* Apply hover color */
}

.description {
    font-size: 24px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
  
}