@import "../../vars.css";

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    padding-top: 60px; /* Adjust to prevent content from being hidden under the navbar */
    box-sizing: border-box; /* Ensure padding doesn't affect overall height */
    gap: 30px; /* Add gap between the cards */
    flex-wrap: wrap; /* Allow cards to wrap in case of small screen size */
}

.card {
    width: 18rem; /* Set the card width */
    height: 350px; /* Set a consistent height for all cards */
    display: flex;
    flex-direction: column; /* Ensure that the content stays within the set height */
}

.card img {
    height: 200px; /* Set the height of the image */
    object-fit: cover; /* Ensure the image covers the designated area without distortion */
    width: 100%; /* Ensure the image fills the card's width */
}

.card-body {
    display: flex;
    flex-direction: column; /* Align the card content in a vertical column */
    justify-content: space-between; /* Add space between title, text, and button */
}