* {
  box-sizing: border-box;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--color-bg);

}